:root{
    --header-height: 8vh;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    text-decoration: none;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: var(--header-height);
    width: 100vw;
    background-color: rgba(100, 100, 100, 0.3);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    position: fixed;
    border: solid;

    
}
header:hover{
    height:calc(var(--header-height) + 2vh);
    padding-bottom: 4em;
    font-size: 2em;
}
header p{
    color:white;
    padding: 1em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
}
header p:hover{
    color: orange;
    cursor: pointer;
}
#hero{
    background-image: url("ales-nesetril-Im7lZjxeLhg-unsplash.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
h1{
    font-family: 'Montserrat', sans-serif;
}
#About, #Projects{
    padding-top: calc(var(--header-height) + 10vh);
    height: 100vh;
    width: 100vw;
    background-color:black;
    color: white;
}
#About h1{
    text-align: center;
}
#photo-wrap{
    text-align: center;
}
#photo{
    padding: 2em;
    width: 300px;
    border-radius: 50%;
    
}

.paragraph{
    background: rgba(100, 100, 100, 0.3);
    margin: auto 20vw;
    padding: 20px;
    border-radius: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 2em;
    margin-bottom: 10px;
}
#flex-project{
    height:fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-image: url("background4.jpg");
    background-size: 100% 100%;
}
#Projects{
    height: fit-content;

}
.project{
    width: 400px;
    height: max(300px,fit-content);
    background: rgba(100, 100, 100, 0.3);
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    border-style:dashed ;
    border-color: rgba(100, 100, 100, 0.3);
}
.video-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.project h2{
    padding: 1em;
}

video{
    padding: 1em;
    padding-bottom: 0;
    width: 90%;
    height: 90%;
}
#Projects h1, #Projects h3{
    text-align: center;
    padding: 1em;
    line-height: 1.5em;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
img{
    
    height:95%;
    width: 95%;
}
.gal-link{
    display: flex;
   
    align-items: center;
    justify-content: center;
}
li{
    text-align: left;
    font-family: 'Raleway', sans-serif;
    padding: 0.5em
}
h4{
    
    
}
i{
    font-size: 2em;
   color: purple
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
label{
    padding: 0.25em;
    font-size: 1em;
}
ul{
    margin-left: 40px;
}
.exception{
    padding: 1em;
    list-style: none;
}